body
{
    margin: 0px;
}

#src
{
    height: 100%;
    margin: 0px auto;
    padding-left:194px;
    float: left;
}

#header
{
    background-color: lightseagreen;
    height: 40px;
    margin: 0 auto;
    width:100%;
    padding-top:30px;
    padding-bottom: 30px;
}

.nav
{
    background-color: lightseagreen;
    max-width: 960px;
    position: relative;
    margin: 0 auto;
    margin-top:20px;
    width:80%;
    box-sizing: border-box;
    padding-top:10px;
    padding-bottom: 40px;
    padding-left: 40px;
    padding-right: 40px;
}

#footer
{
    background-color: lightseagreen;
    padding: 20px;
}

.odd
{
    background-color: aqua;
}

.even
{
    background-color: palegreen;
}

a
{
    text-decoration:none;
}